.button {
	border-radius: 1.9em;
	border: 2px solid #00a66d;
	background: transparent;
	text-transform: uppercase;
	padding: .7em 1.5em;
	font-size: 0.65em;
	font-weight: bold;
}

.button:hover {
	background: #00a66d;
}

.call-to-action {
	margin-top: 7.5em;
	padding-left:  4em;
	padding-right: 4em;
}
