.content{
	padding: 1em 3em;
	padding-right: 15em;
	margin-left: 20%;
}

#content > section {
	top: 0px;
	bottom: 0px;
	height: 100vh;
	position: relative;
}

/*#content section h2 {
	text-transform: uppercase;
}*/

#content > #nexatlas-home {
	/*text-align: center;*/
	background: url(../../images/background/home.jpg);
	background-position: center;
}

#content > #nexatlas-home > .content {
	height: auto;
	width: auto;
	/*border: 2px solid black;*/
	margin: 0 24%;
	padding: 20% 0;
}

.content .content-title {
	font-weight: bold;
	margin-bottom: 1.5em;
	font-size: 2.8em;
}

.content .content-text {
	font-size: 0.7em;
	line-height: 1.2em;
}

#content #nexatlas-cartas{
	background: url(../../images/background/cartas.jpg);
	background-position: center;
}

#content #nexatlas-rotas{
	background: url(../../images/background/rotas.jpg);
	background-position: center;
}

#content #nexatlas-meteorologia{
	background: url(../../images/background/meteorologia.jpg);
	background-position: center;
}

#content #nexatlas-beta{
	/*background: url(../../images/background/beta.jpg);*/
	background-position: center;
}

#content #nexatlas-blog{
	background: #e8e9e9;
}

#content #nexatlas-press{
	background: #00b96d;
}

@media only screen and (min-width: 1140px){
	.content, .horizontal-layout .content, .auto-layout .content{
		padding-right: 3em;
		padding-left: 3em;
	}
}
