/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	.menu-hamburger {
		top: 90px; 
		left: 60px;
	}

	.menu {
		font-size: 9px;
		margin-top: 170px;
	}

	.action {
  		margin-left: -1px; 
	}

	.action:hover {
		color: #00a66d;
		font-size: 11px;
	}

	.mPS2id-highlight {
		font-size: 11px;
		margin-left: 5px;
	}

	.menu-icon-verde:before {
		content: url(../../images/destaque.png);
		margin-left: 3px;
	}

	.menu-icon-branco:before {
		content: url(../../images/destaque-branco.png);
		margin-left: 3px;
	}

	.separator {
		margin: 20px 0 20px 2.5px;
	}

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

	.menu-hamburger {
		top: 90px; 
		left: 45px;
	}

	.menu {
		font-size: 9px;
		margin-top: 170px;
	}

	.action {
  		margin-left: -1px; 
	}

	.action:hover {
		color: #00a66d;
		font-size: 11px;
	}

	.mPS2id-highlight {
		font-size: 11px;
		margin-left: 5px;
	}

	.menu-icon-verde:before {
		content: url(../../images/destaque.png);
		margin-left: 3px;
	}

	.menu-icon-branco:before {
		content: url(../../images/destaque-branco.png);
		margin-left: 3px;
	}

	.separator {
		margin: 20px 0 20px 2.5px;
	}

}


/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	.menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

	.menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

	.menu {
		font-size: 9px;
		margin-top: 170px;
	}

	.action {
  		margin-left: -1px; 
	}

	.action:hover {
		color: #00a66d;
		font-size: 11px;
	}

	.mPS2id-highlight {
		font-size: 11px;
		margin-left: 5px;
	}

	.menu-hamburger {
		top: 70px; 
		left: 70px;
	}

	.menu-icon-verde:before {
		content: url(../../images/destaque.png);
		margin-left: 3px;
	}

	.menu-icon-branco:before {
		content: url(../../images/destaque-branco.png);
		margin-left: 3px;
	}

	.separator {
		margin: 20px 0 20px 2.5px;
	}




	/* Menu Mobile ----------- */

	.menu-sidenav li {

        margin: 40px 0;
    }

    .menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }

    .menu-login {
        font-size: 18px;
    }

    .closebtn {
        position: absolute;
        top: 35px;
        left: 215px;
        font-size: 36px;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

	.menu {
		font-size: 12px;
		margin-top: 18vh;
	}

	.mPS2id-highlight{
		font-size: 16px;
	}

	.menu-hamburger {
		top: 80px; 
		left: 75px;
	}

	.separator {
		margin: 20px 0 20px 4px;
	}

	.menu-icon-verde:before {
		content: url(../../images/destaque.png);
		margin-left: 2px;
	}

	.menu-icon-branco:before {
		content: url(../../images/destaque-branco.png);
		margin-left: 2px;
	}

	.action {
  		margin-left: 0px; 
	}
}



/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}



/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) {

	.navigation {
		display: none;
	}

	.menu-hamburger {
		top: 20px; 
		left: 20px;
	}


	.menu-sidenav li {

        margin: 40px 0;
    }

    .menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }

    .menu-login {
        font-size: 18px;
    }

    .closebtn {
        position: absolute;
        top: 35px;
        left: 160px;
        font-size: 36px;
    }


}



@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) {

	.navigation {
		display: none;
	}

	.menu-hamburger {
		top: 20px; 
		left: 20px;
	}


	.menu-sidenav li {

        margin: 40px 0;
    }

    .menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }

    .menu-login {
        font-size: 18px;
    }

    .closebtn {
        position: absolute;
        top: 35px;
        left: 160px;
        font-size: 36px;
    }
}



/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) {

	.navigation {
		display: none;
	}

	.menu-hamburger {
		top: 20px; 
		left: 20px;
	}


	.menu-sidenav li {

        margin: 40px 0;
    }

    .menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }

    .menu-login {
        font-size: 18px;
    }

    .closebtn {
        position: absolute;
        top: 35px;
        left: 160px;
        font-size: 36px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) {

	.navigation {
		display: none;
	}

	.menu-hamburger {
		top: 20px; 
		left: 20px;
	}

	.menu-sidenav li {

        margin: 40px 0;
    }

    .menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }

    .menu-login {
        font-size: 18px;
    }

    .closebtn {
        position: absolute;
        top: 35px;
        left: 160px;
        font-size: 36px;
    }
}



/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 412px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

	.navigation {
		display: none;
	}

	.menu-hamburger {
		top: 20px; 
		left: 20px;
	}

	.menu-sidenav li {

        margin: 40px 0;
    }

    .menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }

    .menu-login {
        font-size: 18px;
    }

    .closebtn {
        position: absolute;
        top: 35px;
        left: 160px;
        font-size: 36px;
    }
}

@media only screen and (min-device-width: 412px) and (max-device-height: 736px) and (orientation : portrait) {

	.navigation {
		display: none;
	}

	.menu-hamburger {
		top: 20px; 
		left: 20px;
	}

	.menu-sidenav li {

        margin: 40px 0;
    }

    .menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }

    .menu-login {
        font-size: 18px;
    }

    .closebtn {
        position: absolute;
        top: 35px;
        left: 160px;
        font-size: 36px;
    }
}



/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}



/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}



/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) {

	.navigation {
		display: none;
	}

	.menu-hamburger {
		top: 20px; 
		left: 20px;
	}

	.menu-sidenav li {

        margin: 40px 0;
    }

    .menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }

    .menu-login {
        font-size: 18px;
    }

    .closebtn {
        position: absolute;
        top: 35px;
        left: 160px;
        font-size: 36px;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) {

	.navigation {
		display: none;
	}

	.menu-hamburger {
		top: 20px; 
		left: 20px;
	}

	.menu-sidenav li {

        margin: 40px 0;
    }

    .menu-sidenav li a {

        font-size: 22px;
    }

    .menu-sidenav li sup {
        
        font-size: 10px;
        position: absolute;
        margin: 0px 0 0 10px
    }

    .menu-login {
        font-size: 18px;
    }

    .closebtn {
        position: absolute;
        top: 35px;
        left: 160px;
        font-size: 36px;
    }
}

