.navigation {
	position: fixed;
	z-index: 9;
	text-shadow: none;
	font-size: 20px;
	margin-left: 5%;
	border-left: 1px solid #95999a;
}

#navigation-menu a {
	padding: 2px 0 0 15px;
	text-decoration: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.menu {
	color: #95999a;
	font-weight: 300; 
	height: 100vh;
	list-style: none;
	padding: 0;
	margin: 0;	
}

.menu li {
	position: relative;
	height: 25px;
	left: -5px;
}

.menu a {
	margin-top: -5px;
}

.action {
  margin-left: -4.25px; 
}

.action::before {
  content: "•";
  font-size: 30px;
  color: #95999a;
  margin-left: 1.5px;
}

/*.action:hover:before {
    content: url(../../images/destaque.png);
  	padding-left: 1px;
}*/

.action:hover {
	color: #00a66d;
	font-size: 16px;
}

.action:active:before {
    content: url(../../images/destaque.png);
}

.menu-icon-verde:before {
	content: url(../../images/destaque.png);
	margin-left: 1px;
}

.menu-icon-branco:before {
	content: url(../../images/destaque-branco.png);
	margin-left: 1px;
}

.separator {
  padding-left: 1em; 
  text-indent: -1.30em;
}

.separator::before {
  content: "-";
  font-size: 25px;
  color: #95999a;
}

.menu a.mPS2id-highlight, #side-navigation a.mPS2id-highlight {
	color: #00a66d;
}

.menu-hamburger {
	position: fixed; 
	z-index: 10;
	cursor: pointer;
}


/* Estilos usados quando o usuário esta visitando o menu NEXATLAS onde precisa mudar as cores do menu */

.menu-nexatlas-branco {
	border-left: 1px solid #4b5155;
}

.menu-nexatlas-branco ul {
	color: #4b5155;
}

.menu-nexatlas-branco a:hover, .menu-nexatlas-branco a.mPS2id-highlight{
	color: #FFF;
}

.menu-nexatlas-branco .action:hover:before {
    content: url(../../images/destaque-branco.png);
}

/* Fim menu NEXATLAS */


@media only screen and (min-width: 1440px) {
	

	.menu-hamburger {
		top: 70px; 
		left: 80px;
	}

	.action {
  		margin-left: -1px; 
	}

	.separator {
		margin: 20px 0 20px 3px;
	}

	.menu-icon-verde:before {
		content: url(../../images/destaque.png);
		margin-left: 2.5px;
	}

	.menu-icon-branco:before {
		content: url(../../images/destaque-branco.png);
		margin-left: 2.5px;
	}

	
}
