.menu-sidenav {

    list-style: none;
    text-align: right;
    margin: 100px 50px 0 0;
}

.menu-sidenav li {

    margin: 50px 0;
 }

.menu-sidenav li a {

    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    font-size: 33px;
 }

.menu-login {
    color: #818588;
    font-size: 28px;
}

.menu-sidenav li sup {
    color: #818588;
}    

/* When you mouse over the navigation links, change their color */
.menu-sidenav a:hover {
    
    color: #00a66d;
}


.sidenav-languages {
    list-style: none;
    text-align: right;
    margin: 0 50px 20px 0;
    font-size: 16px;
}

.sidenav-languages li {
    display: inline;
    margin-left: 5px;
}

.sidenav-languages a {

    color: #818588;
}

a.active {

    color: #FFF;
}

.sidenav-social-icons {
    list-style: none;
    text-align: right;
    margin-right: 50px;
    font-size: 22px;
}

.sidenav-social-icons li {
    display: inline;
    margin-left: 20px;
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
    transition: margin-left .5s;
}