body {
	margin: 0;
	padding: 0;
	border: 0;
	background: #25201e;
	color: #d9d6d5;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.4em;
}

a {
	color: inherit;
	text-decoration: none;
}

.navigation, #content {
	position: relative;
}


.ie8 .mPS2id-target .content h2:first-child:after{
	font-size: 0.95em;
}


.bot_fechar_menu, .bot_fechar_menu_hover, .bot_hamburger, .bot_hamburger_hover{
	background: url(../images/sprites.png) no-repeat;
	display: block;
	text-indent: -9999px;
}

.bot_fechar_menu{
	background-position: 0 0;
	width: 40px;
	height: 40px;
}

.bot_fechar_menu:hover{
	background-position: 0 -50px ;
	width: 40px;
	height: 40px;
}

.bot_hamburger{
	background-position: -57px -2px ;
	width: 40px;
	height: 40px;
}

.bot_hamburger:hover{
	background-position: -59px -50px ;
	width: 40px;
	height: 40px;
}
